header {
  margin: 0 !important;
}
.remerciements {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  padding-bottom: 70px;
  margin: 70px 0px 0px 0px;
  background-color: white;
}
.decoFond {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-image: url(menu/fond1.png);
}
.phraseAccroche {
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
  color: #dbaa6a;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 600;
}
.contenerCartesMerci {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 65%;
}
.cartesMerci {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  overflow: hidden;
  width: 300px;
  height: 250px;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  border: solid 2px #dbaa6a;
  box-shadow: 1px 1px 5px 1px;
  border-radius: 25px;
  margin: 10px 0px 10px 0px;
  background-color: white;
  transition: all 0.5s;
}
.background {
  width: 100%;
  height: 190px;
  background-size: 100%;
}
.backgroundVeterinaire {
  background-image: url(clients/Veterinaire.jpg);
}
.backgroundCarotteuse {
  background-image: url(clients/carotteuse.jpg);
}
.backgroundPVC {
  background-image: url(clients/fenetre.jpg);
}
.backgroundAlimentaire {
  background-image: url(clients/restaut.jpg);
}
.cartesMerci a {
  color: black;
  font-family: "Comic Sans MS", cursive;
  transition: all 0.5s;
}
.cartesMerci a:hover {
  font-size: 110%;
  color: #d70019;
}
.pro {
  font-size: 13px;
}
.divImageMerci {
  width: 300px;
}
.divImageMerci p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 10px 0px 10px 0px;
}
/*################################################################### SECTION PHOTO DU CAMION APR #######################################################*/
.imageCamion {
  width: 100%;
  height: 60vh;
  background: url(clients/camion-apr.jpeg) fixed center;
  background-size: 100%;
}
/*########################################################################################  Camion  ###########################################################################*/
.divRoad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(clients/road2.png) center repeat-y;
}
.divRoad:hover {
  background-image: url(clients/road.gif);
}
.divMerciSection2 {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  width: 100%;
  text-align: center;
  color: #d70019;
  background-color: rgb(255, 255, 255);
}
.merciSection2 {
  width: 50%;
  font-weight: 600;
}
.camiondessin:hover {
  transform: scale(1.1);
}
.camiondessin {
  transition: all 0.5s;
  width: 40%;
}
.sectionAvantCamion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  width: 100%;
}
/* Clients */
.realisationsSections,
.realisationsContener,
.divRealisations {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.realisationsSections {
  flex-flow: column;
  margin-bottom: 70px;
  background: url(clients/road2.png) center repeat-y;
  width: 100%;
}
.metiersRealisations {
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  padding: 6px 0px 6px 0px;
  font-size: 18px;
  width: 200px;
  position: absolute;
  margin-top: 150px;
}
.realisationsContener {
  overflow: scroll;
  height: 600px;
  max-width: 700px;
  flex-flow: row wrap;
  background-color: white;
}
.divRealisations {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 5px;
  flex-flow: row wrap;
}
/*################################################################################### MEDIA QUERIES ###########################################################################*/

@media screen and (max-width: 630px) {
  .camiondessin {
    width: 90%;
  }
  .divRealisations {
    width: 150px;
    height: 150px;
  }
  .imgRealisations {
    width: 150%;
  }
}

@media screen and (max-width: 1079px) {
  .camiondessin {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .camiondessin {
    width: 80%;
  }
  .divRealisations {
    width: 120px;
    height: 120px;
  }
  .imgRealisations {
    width: 150%;
  }
}
@media screen and (max-width: 390px) {
  .camiondessin {
    width: 80%;
  }
  .divRealisations {
    width: 100px;
    height: 100px;
  }
  .imgRealisations {
    width: 150%;
  }
}
