* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  background: url(/Menu/fond1.png) center fixed;
  background-size: cover;
}
header {
  margin-bottom: 150px;
}
main {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
/* ################################################################## TITRES ################################################################ */
.titre {
  padding-top: 20px;
}
.div_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 50px 0px 50px 0px;
  width: 360px;
  white-space: nowrap;
}
.titre:before,
.titre:after {
  display: block;
  content: "  ";
  height: 2px;
  background-color: #D70019;
}
.titre:before {
  margin-bottom: 23px;
}
.titre:after {
  margin-top: 23px;
}
.div_titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  font-size: 350%;
  
}


/* ################################################################## BANDE HEADER ################################################################ */
/* LOGO */
.divLogo {
  background-color: #000000;
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  transition: all 0.2s;
}
#logo:hover {
  margin-left: 10%;
}
/* RESTE DE LA BANDE */
#contenerHeader {
  display: flex;
  min-height: 10vh;
  background-color: black;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
.headerDroite {
  background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.268)),
    url("/menu/font_headercopy.png") no-repeat center;
  background-size: cover;
  height: 20vh;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  color: #D70019;
}
#contenerHeader p {
  color: #D70019;
  padding: 5px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 8px;
  margin-top: 10px;
  text-align: center;
}
/* PETIT MENU */
.miniMenu {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  font-size: 18px;
  text-align: center;
  background-color: black;
  transition: all 0.7s;
  border-radius: 10px;
}
.miniMenu li {
  margin: 15px;
  text-align: center;
  color: #D70019;
  transition: all 0.5s;
}
.borderRight{
  border-right: solid #D70019 2px;
  padding-right: 30px;
}
.miniMenu a {
  color: #D70019;
}
/* ################################################################## MENU PRINCIPAL ################################################################ */
#white {
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-bottom: solid 5px #DBAA6A;
}
#white a {
  font-size: 14px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 1;
  letter-spacing: 3px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#white a:hover,
.miniMenu li:hover {
  text-decoration: underline 2px #DBAA6A;
  transform: scale(1.1);
}
#white ul,
#white li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  color: white;
}
.equipe a {
  display: flex;
  align-items: center;
  height: 22px;
}
option {
  background-color: black;
}
select {
  border-radius: 5px;
  background-color: black;
  background: url(/Menu/flamme.png) fixed;
  color: white;
  width: 185px;
  letter-spacing: 4px;
  font-size: 13px;
}
/* ################################################################## MENU SECONDAIRE ################################################################ */
.menuDeux {
  background-color: white;
  color: rgb(158, 147, 147);
  visibility: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}
.menuDeux a {
  text-align: center;
  padding: 5px 5px 5px 10px;
  color: rgb(158, 147, 147);
  letter-spacing: 2px;
  transition: all 0.5s;
  font-weight: 600;
}
.menuDeux a:hover {
  transform: scale(1.05);
  color: #D70019;
}
.menuDeux li {
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 0px 2px 0px 2px;
  padding: 10px;
}
.menuDeux li:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
}
.menuDeux ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
  height: 100%;
}
ul a:hover {
  color: #D70019;
}
.menuDeux .liNosActivites .ulNosActivites li {
  display: none;
  z-index: 10;
}
.menuDeux .liNosActivites:hover .ulNosActivites li {
  display: block;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.671);
}
.menuDeux .liNosActivites:hover .ulNosActivites {
  display: block;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}
.menuDeux .liNosActivites {
  display: block;
  letter-spacing: 2px;
  z-index: 10;
}
.menuDeux ul .liNosActivites:hover {
  color: #E22F4A;
  height: 30px;
  margin: 0;
  float: left;
  line-height: 25px;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}
/* 
MENU BURGER */
.navigation {
  display: flex;
  visibility: hidden;
  top: 0;
  margin-left: 20px;
  position: fixed;
  z-index: 2;
}
.nav-wrapper {
  position: absolute;
  z-index: 1;
}
.nav-wrapper ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 0;
  overflow: hidden;
}
.nav-wrapper ul li {
  margin: 10px;
  font-size: 12px;
}
.nav-wrapper.active ul {
  display: block;
  width: 150px;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  background-color: #000000;
}
.nav-wrapper ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}
.nav-wrapper ul li:hover {
  color: #D70019;
}
.nav-toogler {
  background-color: rgb(0, 0, 0);
  padding: 0px 10px 3px 10px;
  border-radius: 10px;
  color: #D70019;
  font-size: 30px;
  border: none;
}
/* cookie */
.btncookie {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.63);
  color: rgb(29, 28, 28);
  padding: 1em 0 1em;
  text-align: center;
  position: fixed;
  background-color: #FFFFFF;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 99999;
  /* visibility: hidden; */
}
/* pas obligatoire ".p-cookie */
/* .p-cookie {
    padding: 20px;
  } */
.sm_footer {
  background-color: #15AAC0;
  text-align: center;
}
.sm_hidden {
  visibility: hidden;
}
/* FIN DE PAGE */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  background-color: black;
  padding: 15px;
  border-top: #DBAA6A 3px solid;
}
.divLogoFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 70px;
}
.divLogoFooter img {
  width: 100%;
}
.divLogoFooter p {
  color: white;
  font-weight: 600;
  white-space: nowrap;
  font-size: 18px;
}
.logosFooter {
  padding: 10px;
  width: 50px;
  margin: 10px;
  border: 3px white solid;
  border-radius: 100%;
}
.pMentions {
  color: #D70019;
  text-decoration: underline;
  padding: 10px;
}
/* ################################################################## MEDIA QUERIES MENU ################################################################ */
@media screen and (max-width: 800px) {
  .menuDeux,
  #white,
  .miniMenu {
    display: none;
  }
  .div_titre {
    font-size: 30px;
  }
  .navigation {
    visibility: visible;
  }
  .headerDroite {
    display: none;
  }
}